# .coveragerc to control coverage.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    def _repr_latex_
    def latex_string
    def _repr_png_
    def _repr_svg_
    def _figure_data
    def plotting_data
    def _rarefaction
    def _shock
    def _deflagration
    def _detonation
    def _find_pre_ignition
    def plot_P_v
